<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台</title>
		<link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/flat-ui.min.css" rel="stylesheet">
		<link href="../css/login.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
	      <script src="/js/vendor/html5shiv.js"></script>
	      <script src="/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<ul class="nav nav-tabs">
						<li class="active" >
							<a href="javascript:void(0);" onclick="toChange(event,1)">用户</a>
						</li>
						<li >
							<a href="javascript:void(0);" onclick="toChange(event,2)">帖子</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid">
				
				<div class="row-fluid">
					<div class="span12">
						<form class="form-search" onsubmit="return false;">
							<label>请输入你要查询的内容</label>
							<div id="userAndEmailBox" class="userAndEmail">
								<label>用户名或邮箱</label>
								<input class="input-medium search-query" type="text" id="userAndEmail"/> 
								<button type="submit" class="btn" onclick="search(1)">查找</button>
							</div>
							<div id="articleAndCommentBox" class="articleAndComment">
								<label>帖子名称或包含内容</label>
								<input class="input-medium search-query" type="text" id="articleAndComment"/> 
								<button type="submit" class="btn" onclick="search(2)">查找</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<table class="table table-bordered table-hover" id="contentArr">
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/vendor/jquery.min.js"></script>
	<script src="../js/flat-ui.min.js"></script>
	<script>
		var typs = ['艺术','互联网','阅读','创业','翻译','法律','健康','游戏','时尚','历史','美食','生活','摄影','投资','心理学','旅行','设计','语言','汽车','科幻','文化','教育','自然科学','职业发展','体育','商业','生活方式','交互设计','文学','科技','儿童教育','物理学','绘画','足球','数据分析','经济学','食品安全','化学','户外运动','滑雪','博弈论','生物学','喜剧','戏剧','动漫','医学','编程思想','金融','区域经济学','编程','食品安全'];
		$(document).ready(function(){
			toChange(event,1);
		});

		function toChange(e,num){
			if(num===1){
				$('#articleAndCommentBox').hide();
				$('#userAndEmailBox').show();
			}else if(num===2){
				$('#userAndEmailBox').hide();
				$('#articleAndCommentBox').show();
			}
			console.log(e);
			if(e.target && e.target.parentNode){
				var uls = $(e.target.parentNode.parentNode.children);
				for(var i=0;i<uls.length;i++){
					var item = uls[i];
					item.className = '';
				}
				e.target.parentNode.className = 'active';
				$('#contentArr').html('');
				// e.target.parentNode.previousElementSibling.className = '';
				// e.target.parentNode.nextElementSibling.className = '';
			}
		}

		function search(type){
			var val = '';
			if(type==1){
				val = $('#userAndEmail').val();
			}else if(type==2){
				val = $('#articleAndComment').val();
			}else{
				return alert('查询方式错误');
			}
			// if(!val){
			// 	return alert('请输入搜索内容!');
			// }
			var body = {val:val,type:type};
			$.ajax({
				type:'POST',
				url:'/api/search',
				data:body,
				success:function(result){
					if(result.error_code === -1){
						if(result.message === 'params invalid'){
							alert('参数缺失.');
						}else{
							alert('查询失败.');
						}
					}else if(result.error_code === 0 && result.message === 'success'){
						if(!result.result){
							return alert('未查询到对应结果');
						}
						var list = result.result;
						var html = '';
						if(type==1){
							html = '<thead><tr><th>编号</th><th>email</th><th>用户名称</th><th>创建时间</th><th>状态</th><th>操作</th></tr></thead><tbody >';
						}else{
							html = '<thead><tr><th>编号</th><th>帖子名称</th><th>帖子内容</th><th>帖子类型</th><th>发帖时间</th><th>状态</th><th>操作</th></tr></thead><tbody >';
						}	
						for(var i=0;i<list.length;i++){
							var item = list[i];
							
							html +='<tr>';
							/*<button class="btn btn-small btn-warning" type="button">按钮</button> */
							if(type==1){
								html +='<td>'+(i+1)+'</td>';
								html +='<td>'+item.email+'</td>';
								html +='<td>'+item.username+'</td>';
								html +='<td>'+item.createTime+'</td>';
								if(item.isStatus===-1){
									html +='<td>屏蔽</td>';
								}else{
									html +='<td>'+['正常','超级管理员'][item.isStatus]+'</td>';
								}
							}else if(type==2){
								html +='<td>'+(i+1)+'</td>';
								html +='<td>'+item.title+'</td>';
								html +='<td>'+item.content+'</td>';
								html +='<td>'+typs[item.subject]+'</td>';
								html +='<td>'+item.createTime+'</td>';
								// html +='<td>'+['正常','屏蔽'][item.isStatus]+'</td>';
								if(item.isStatus===-1){
									html +='<td>屏蔽</td>';
								}else{
									html +='<td>'+['正常'][item.isStatus]+'</td>';
								}
							}
							html += '<td><button class="btn btn-small btn-success" type="button" onclick="updateStatus('+"'"+item._id+"'"+',0,'+"'"+type+"',"+"'"+item.isStatus+"'"+')">恢复正常</button> <button class="btn btn-small btn-danger" type="button" onclick="updateStatus('+"'"+item._id+"'"+',-1,'+"'"+type+"',"+"'"+item.isStatus+"'"+')">屏蔽</button></td></tr>';
						}
						html && $('#contentArr').html(html+'</tbody>');
					}
				},
				error:function(error){
					console.log(error);
					alert('发生错误，请稍后再试');
				}
			});

		};

		function updateStatus(_id,val,type,isStatus){
			if(isStatus == val){
				return alert('当前状态已经是您想要的状态了，不要重复操作哦!');
			}
			var body = {};
			body._id = _id;
			body.val = val;
			body.type = type;
			$.ajax({
				type:'PUT',
				url:'/api/update',
				data:body,
				success:function(result){
					if(result.error_code === -1){
						if(result.message === 'params invalid'){
							alert('参数缺失.');
						}else{
							alert('查询失败.');
						}
					}else if(result.error_code === 0 && result.message === 'success'){
						alert('修改成功');
						// console.log(result.result);
						search(type);
					}
				},
				error:function(error){
					console.log(error);
					alert('修改失败');
				}
			});
		};
	</script>
</html>