<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>注册</title>
		<link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/flat-ui.min.css" rel="stylesheet">
		<link href="../css/signUp.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
	      <script src="/js/vendor/html5shiv.js"></script>
	      <script src="/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="container" style="padding-top:10%;">
			<div class="leftBox">
				<h3>与世界分享你的知识，经验和见解。</h3>
				<h3>一个真实的网络问答社区,帮助你寻找答案,分享知识。</h3>
			</div>
			<div class="rightBox">
				<div class="login-form">
					<div class="form-group">
						<input type="text" class="form-control login-field" value="" placeholder="请输入您的用户名" id="login-name" />
						<label class="login-field-icon fui-user" for="login-name"></label>
					</div>
					<div class="form-group">
						<input type="password" class="form-control login-field" value="" placeholder="请输入您的密码" id="login-pass" />
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<div class="form-group">
						<input type="password" class="form-control login-field" value="" placeholder="请再次输入您的密码" id="login-pass" />
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
	
					<a class="btn btn-primary btn-lg btn-block" href="#">注册登陆到Quora</a>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/vendor/jquery.min.js"></script>
	<script src="../js/flat-ui.min.js"></script>
</html>
